.picture {
    width : 100%;
    
}
div1 {
    border: 6px solid lightgray;
    float:left;
    margin: 2%;
    width : 15%;
    height : 30%;
    background-color: lightgrey
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #222
}
h2 {
    font: italic 150% comic, serif;
    color: #222
}
h3{
   font: italic 12px/30px comic, serif;
    font-size: 100%;
    color: red
}
body {
    background-color: gray
}
.container {
    position: relative;
    width: 100%;
}
@media screen and (max-width: 480px) {
    body {
        background-color: #b3ccff;
    }
}
@media screen and (max-width: 890px) {
    div.gallery {
        height: 600px;
        max-width: 40%;
    }
}
@media screen and (max-width: 200px) {
    div.gallery {
        height: 600px;
        max-width: 80%;
    }
}
